.container{
    width: 40%;
    text-align: center;
   margin-left: 29rem;
    padding: 0;
    background-color: rgb(6, 137, 137);
}

.container h1{
    font-size: large;
    color: blanchedalmond;
}

.add-button{
    cursor: pointer;
    height: 30px;
    width: 50px;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 40%;
}

.add-task{
    height: 30px;
    width: 40%;
}

.todo-task{
    color: darkgoldenrod;
    font-size: x-large;
    font-weight: bold;
    margin-right: 12%;
}

.delete-button{
    cursor: pointer;
    background-color: black;
    color: white;
    margin-right: 12%;
    height: 30%;
    border-radius: 45%;
}
